body{
background-color:rgba(238, 237, 237, 0.666) ;
}
h1{
  display: inline-block;
}
.nav{
    padding-top:14px;
    padding-bottom: 5px;
    padding-right:15px ;
    background-color: rgb(255, 255, 255);
}
.flex-grow-1{
  padding: 30px;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
}
@media (min-width: 701px) {
  .dropdownnavbar{
    display: none;
  }
}

@media (max-width: 701px) {
  .navbarlong{
    display: none;
  }
}
/* h1{
  padding-top: 100vh;
  font-family: 'Varela Round', sans-serif;

} */
section{
  padding-top: 20px;
}
#list{
  display: block;
}
h1{
  position: relative;
  padding: 0px 20px;
  left: 4%;
}
.containterTable{
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 35px auto;
  overflow-x: scroll;
}
.containterTableBalance{
  position: relative;
  display: flex;
  align-items: center;
  width: 15%;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 35px 5%;
}
table{
  margin: auto auto
}
/* Exchange */
.input-group{
  position: relative;
  top: 70px;
  width: 40%  ;
  left: 30%;
  max-width: 682px;
  
}
#dropdown-menu{
  overflow-y: scroll;
  height: 30vh;
}
#search{
  position: sticky;
  top :0;
}
.hide{
  display: none;
}
.btnGroup{
  position: relative;
  top: 90px;
  left: 60%;
  width: 200px;
}
#balance{
  content: '$';
}
.containterTablePValue{
  position: absolute;
  width: 15%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  min-width: 200px;
  right: 5%;
  
}


